<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>contact paras</title>
</head>
<body>
  <p>Welcome</p>
  <p>CAll us</p>
  <p>Bye</p>
  <p>paras paras paras</p>
</body>
</html>
