<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New puppy</title>
</head>
<body>
  <form action="/puppies" method="GET">
    <p>Name of puppy:
      <input type="text" placeholder="Enter name" name="name"><br>
    </p>
    <p>Age of puppy:
      <input type="text" placeholder="Enter age" name="age"><br>
    </p>
    <p>
      <button type="submit">Submit</button>
    </p>
  </form>
</body>
</html>
